@import "../../Globals/Global.scss";
.customerWrapper {
    border-radius: 10px;
    background-color: $white;
    height: 100%;
    .header {
        @include flex-space-between;
        padding: 1.81rem 1.11rem 0.91rem 1.91rem;
        align-items: center;
        span {
            color: #000;
            font-size: 1.74319rem;
            font-weight: $font-500;
            text-transform: uppercase;
        }
    }
    .filtersWrapper {
        @include flex-space-between;
        border-radius: 0.3125rem 0.3125rem 0rem 0rem;
        background: #356646;
        padding: 2.06rem 0.94rem;
    }
    .grid {
        margin-top: 1.69rem;
    }
}